.container{
  margin: 0 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.full-screen-input{
  width: 100%;
}

.margin-right{
  margin-right: 20px;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
  text-align: right;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.create-button{
  background-color: #60a917;
  color: white;
  flex-grow: 3;
  margin-right: 10px;
}

.cancel-button{
  background-color: whitesmoke;
}

button{
  text-transform: uppercase;
}

.red-hint{
  color: #fc0000;
}


/*MOBILE DESIGN*/
@media only screen and (max-width: 450px){
  mat-form-field{
    width: 100%;
  }

  mat-icon{
    visibility: hidden;
  }
}


