.container {
  margin: 0 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

table {
  width: 100%;
}

mat-header-cell {
  background-color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.3em;
}

button {
  text-transform: uppercase;
}

.new-customer-button {
  background-color: #60a917;
  color: white;
}

.view-button {
  background-color: #dae8fc;
  font-weight: bold;
  margin-right: 10px;
}

.edit-button {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

.button-column {
  text-align: right;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #1976d2;
}

a, a:visited {
  text-decoration: none;
}

@media screen and (max-width: 450px) {

  .mat-column-id{
    padding-left: 5px;
    flex: 0 0 5%;
  }

  .mat-column-firstName{
    flex: 0 0 25%;
  }

  .mat-column-lastName{
    flex: 0 0 25%;
  }

  mat-header-cell{
    word-break: break-all;
    font-size: small;
  }
}
