<div class="container">
  <div class="header-container">
    <h1>Customers</h1>
    <mat-form-field appearance="outline">
      <mat-label>Filter by last name...</mat-label>
      <label for="search-by-last-name">
        <input id="search-by-last-name" matInput type="text" name="search-by-last-name" (keyup)="applyFilter($event)">
      </label>
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource; else loading">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
      <mat-cell *matCellDef="let user"><a routerLink="{{user.id}}">{{user.id}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>firstname</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>lastname</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="button-column">
        <button mat-raised-button matTooltip="Add new customer" class="new-customer-button" routerLink="/create-customer">new customer</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let user" class="button-column">
        <button mat-raised-button matTooltip="View customer details" class="view-button" (click)="goToCustomerDetails(user.id)">view</button>
        <button mat-raised-button matTooltip="Edit customer details" class="edit-button" (click)="goToUpdateCustomer(user.id)">edit</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<ng-template #loading>
  <mat-spinner class="custom-spinner"></mat-spinner>
</ng-template>
