<div class="container" *ngIf="userForm ; else loading">
  <div class="header-container">
    <h1>Customer <span>{{userForm.get('id').value}}</span></h1>
  </div>
  <form [formGroup]="userForm" class="form-container">
    <div class="row-container">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
          <input id="firstName" matInput required type="text" formControlName="firstName">
        <mat-error *ngIf="userForm.get('firstName').hasError('required')">First name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
          <input id="lastName" matInput required type="text" formControlName="lastName">
        <mat-error *ngIf="userForm.get('lastName').hasError('required')">Last name is required</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
        <input id="email" matInput required type="email" formControlName="email">
      <mat-error *ngIf="userForm.get('email').hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="userForm.get('email').hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>
    <div class="row-container" formGroupName="phoneNumber">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>add</mat-icon>
        <mat-label>Phone number (country code)</mat-label>
          <input id="phoneNumber-countryCode" matInput required type="number" class="number"
                 formControlName="countryCode">
        <mat-error *ngIf="userForm.get('phoneNumber.countryCode').hasError('required')">Country code is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" id="form-field-phonenumber">
        <mat-label>Phone number (number)</mat-label>
          <input id="phoneNumber-number" matInput required type="number" class="number" formControlName="number">
        <mat-error *ngIf="userForm.get('phoneNumber.number').hasError('required')">Phone number is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row-container" formGroupName="address">
      <mat-form-field appearance="outline" id="form-field-street">
        <mat-label>Street</mat-label>
          <input id="street" matInput required type="text" formControlName="street">
        <mat-error *ngIf="userForm.get('address.street').hasError('required')">Street name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
          <input id="number" matInput required type="number" class="number" formControlName="houseNumber">
        <mat-error *ngIf="userForm.get('address.houseNumber').hasError('required')">House number is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row-container" formGroupName="address">
      <mat-form-field appearance="outline">
        <mat-label>Postalcode</mat-label>
          <input id="postalcode" matInput required type="number" class="number" formControlName="zipp">
        <mat-error *ngIf="userForm.get('address.zipp').hasError('required')">Postal code is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select required formControlName="country">
          <mat-option *ngFor="let country of countries" value="{{country}}">{{country}}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('address.country').hasError('required')">Country is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row-container">
      <button mat-raised-button class="update-button" matTooltip="Update customer" [disabled]="userForm.invalid"
              (click)="updateUser()">
        update
      </button>
      <button mat-raised-button class="cancel-button" matTooltip="Go back" (click)="goToCustomerDetails()">cancel
      </button>
    </div>
  </form>
</div>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner class="custom-spinner"></mat-spinner>
  </div>
</ng-template>
