.container {
  margin: 0 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.container-items div {
  text-align: center;
}

.container-item {
  margin: 10px 10px;
}

.container-item img {
  height: 150px;
}

.container-stock-info img {
  height: 15px;
}

.container-stock-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

p, img {
  margin-bottom: 5px;
}

.router-links {
  cursor: pointer;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #1976d2;
}

@media screen and (max-width: 450px) {
  .container-item {
    font-size: small;
  }

  .container-item img {
    height: 120px;
  }

  .container-stock-info {
    font-size: x-small;
  }

  .container-stock-info img {
    height: 10px;
    padding: 5px 0;
  }
}
