.container {
  margin: 0 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container-items div {
  text-align: center;
}

.container-item {
  margin: 10px 10px;
}

.container-stock-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

p, img {
  margin-bottom: 5px;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #1976d2;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-content{

}

.item-img {
  background-size: cover;
}

@media screen and (max-width: 450px) {
  .container-item img {
    width: 100%
  }

  .container-stock-info img {
    height: 10px;
    width: 10px;
    padding: 5px 0;
  }
}

@media screen and (min-width: 451px) {
  .mat-card{
    max-width: 190px
  }

  .container-item img {
    height: 150px;
  }

  .container-stock-info img {
    height: 15px;
  }
}
