.container{
  margin: 0 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

h1{
  margin: 0;
}

.header-information{
  color: dimgrey;
}

.full-screen-input{
  width: 100%;
}

.margin-right{
  margin-right: 20px;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}


input.right-align {
  -moz-appearance: textfield;
  text-align: right;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.update-button{
  background-color: #60a917;
  color: white;
  flex-grow: 3;
  margin-right: 10px;
}

.cancel-button{
  background-color: whitesmoke;
}

button{
  text-transform: uppercase;
}

.red-hint{
  color: #fc0000;
}



