<div class="container" *ngIf="item; else loading">
  <div class="header-container">
    <h1>Item</h1>
    <span>id: {{item.id}}</span>
  </div>
  <form class="form-container">
    <mat-form-field appearance="fill" class="full-screen-input">
      <mat-label>Name</mat-label>
      <input matInput readonly value="{{item.name}}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-screen-input">
      <mat-label>Description</mat-label>
      <textarea matInput readonly>{{item.description}}</textarea>
    </mat-form-field>
    <mat-icon>euro</mat-icon>
    <mat-form-field appearance="fill" class="margin-right">
      <mat-label>Price</mat-label>
      <input matInput type="number" class="right-align" readonly value="{{item.price}}">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Amount of stock</mat-label>
      <input matInput type="number" class="right-align" readonly value="{{item.stockAmount}}">
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button class="edit-button">edit</button>
      <button mat-raised-button class="back-button" (click)="goToItems()">back</button>
    </div>
  </form>
</div>
<ng-template #loading>Fetching data from the server... wait a second...</ng-template>
