.container{
  margin: 0 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

h1{
  margin: 0;
}

.header-information{
  color: dimgrey;
}

.full-screen-input{
  width: 100%;
}

.margin-right{
  margin-right: 20px;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
  text-align: right;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap
}

button{
  text-transform: uppercase;
}

.edit-button{
  background-color: #1976d2;
  color: #f1f1f1;
  flex-grow: 1;
}

.back-button{
  background-color: whitesmoke;
  margin-left: 10px;
}

.basket-button{
  background-color: #f0a30a;
  color: white;
}

:host ::ng-deep .custom-spinner circle{
  stroke: #1976d2;
}
