.container{
  margin: 0 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

h1{
  margin: 0;
}

.header-information{
  color: dimgrey;
}

.full-screen-input{
  width: 100%;
}

.margin-right{
  margin-right: 20px;
}

input.right-align {
  -moz-appearance: textfield;
  text-align: right;
}

button{
  text-transform: uppercase;
}

.edit-button{
  background-color: #1976d2;
  color: #f1f1f1;
}

.back-button{
  background-color: whitesmoke;
}

.basket-button{
  background-color: #f0a30a;
  color: white;
}

:host ::ng-deep .custom-spinner circle{
  stroke: #1976d2;
}

@media screen and (max-width: 450px) {
  mat-form-field{
    width: 100%;
  }

  .button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container button{
    margin: 0 0 10px 0;
  }
}

@media screen and (min-width: 451px) {
  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
  }

  .edit-button{
    margin: 0 10px 0 0;
  }
}
