<div class="container">
  <div class="header-container">
    <h1>Your shopping basket</h1>
  </div>
  <div *ngIf="dataSource.length; else basketIsEmpty">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="justify-content: center">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>product</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.item.name}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="decreaseButton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let order" class="decrease-button" style="justify-content: center !important;">
          <button mat-raised-button (click)="decreaseAmount(order.item.id)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>amount</mat-header-cell>
        <mat-cell *matCellDef="let order" class="amount-column"  style="justify-content: center;">{{order.amount}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="increaseButton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let order" class="increase-button" style="justify-content: center !important;">
          <button mat-raised-button (click)="increaseAmount(order.item.id)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>price</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.amount * order.item.price | currency:'EUR'}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let order" class="button-column" style="text-align: right">
          <button mat-raised-button matTooltip="Delete item from basket" class="delete-button"
                  (click)="removeItem(order.item)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef
                         style="justify-content: center; font-weight: bold"> {{getTotalCost() | currency:'EUR'}}</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <button mat-raised-button class="place-order-button" (click)="placeOrder()">place order</button>
  </div>
</div>
<ng-template #basketIsEmpty>Is empty, go shopping!</ng-template>
