.container{
  margin: 10px 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.row-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.full-screen-input{
  width: 100%;
}

.split-screen-input{
  margin-right: 10px;
}

.create-button{
  background-color: #60a917;
  color: white;
  flex-grow: 3;
  margin-right: 10px;
}

.cancel-button{
  background-color: whitesmoke;

}

button{
  text-transform: uppercase;
}

input.number::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  display: none;
}

/*MOBILE DESIGN*/
@media only screen and (max-width: 450px){
  mat-form-field{
    width: 100%;
  }

  .split-screen-input:first-child{
    margin-right: 0px;
  }
}
