.container{
  margin-bottom: 100px;
}

app-bottom-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #1976d2;
  color: white;
  text-align: center;
}

@media screen and (max-width: 450px) {

  app-bottom-bar {
    visibility: hidden;
  }
}
