.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.answer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & button {
    width: 45%;
  }
}

.no-survey-subjects-available-container {
  font-size: xx-large;
  text-align: center;
}
