.container{
  margin: 0 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

h1{
  margin: 0;
}

.header-information{
  color: dimgrey;
}

.row-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.full-screen-input{
  width: 100%;
}

.split-screen-input{
  margin-right: 10px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-button{
  background-color: #1976d2;
  color: white;
  margin-right: 10px;
  width: 25%;
}

.back-button{
  background-color: whitesmoke;
  width: 10%;
}

button{
  text-transform: uppercase;
}

input.number::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  display: none;
}

:host ::ng-deep .custom-spinner circle{
  stroke: #1976d2;
}

/*MOBILE DESIGN*/
@media only screen and (max-width: 450px){
  mat-form-field{
    width: 100%;
  }

  .split-screen-input:first-child{
    margin-right: 0;
  }
}

