@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, Arial, sans-serif;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.spinner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}


