.toolbar {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  height: 50px;
  margin: 0 16px;
}

a{
  padding: 8px;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: .03rem;
}

.dropbtn {
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(241, 241, 241, 0.2);
}



