<div class="toolbar">
  <img alt="Order logo" src="../../assets/order.png"/>
  <button mat-button [matMenuTriggerFor]="items">Items</button>
  <mat-menu #items="matMenu">
    <button mat-menu-item (click)="goToItems()">view items</button>
    <button mat-menu-item (click)="goToCreateItem()">create item</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="customers">Customers</button>
  <mat-menu #customers="matMenu">
    <button mat-menu-item (click)="goToCustomers()">view customers</button>
    <button mat-menu-item (click)="goToCreateCustomer()">create customer</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="orders">Orders</button>
  <mat-menu #orders="matMenu">
    <button mat-menu-item (click)="goToOrders()">view customers</button>
    <button mat-menu-item (click)="goToCreateOrder()">create customer</button>
  </mat-menu>
</div>

