<div id="nav" class="toolbar">
  <img alt="Order logo" src="../../assets/order.png"/>
  <button mat-button [matMenuTriggerFor]="items">Items</button>
  <mat-menu #items="matMenu">
    <button mat-menu-item (click)="goToItems()">view items</button>
    <button mat-menu-item (click)="goToCreateItem()">create item</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="customers">Customers</button>
  <mat-menu #customers="matMenu">
    <button mat-menu-item (click)="goToCustomers()">view customers</button>
    <button mat-menu-item (click)="goToCreateCustomer()">create customer</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-button (click)="goToBasket()" matTooltip="Go to your basket">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<div id="mobile-nav" class="toolbar">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToItems()">Items</button>
    <button mat-menu-item (click)="goToCustomers()">Customers</button>
  </mat-menu>
  <img alt="Order logo" src="../../assets/order.png"/>
  <button mat-button (click)="goToBasket()" matTooltip="Go to your basket">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>



