.toolbar {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  width: 100%;
}

.toolbar img {
  height: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}


/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 450px){
  .toolbar{
    justify-content: space-between;
  }

  #nav{
    display: none;
  }
}

@media only screen and (min-width: 451px){
  #mobile-nav{
    display: none;
  }
}


